@page "/machines"
@rendermode InteractiveServer



<PageTitle>Machines</PageTitle>
<style>

    .online-td {
        color: forestgreen;
    }

    .offline-td {
        color: red;
    }

</style>


<h1>Machine Overview</h1>

@attribute [StreamRendering(true)]

@if (MachineList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-light">
        <thead class="table-secondary">
            <tr>
                <th></th>
                <th>Employee ID</th>
                <th>First name</th>
                <th>Online</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var machine in MachineList)
            {
                <tr>
                    <td>img</td>
                    <td>@machine.MachineId</td>
                    <td>@machine.Name</td>

                    @if (machine.Status)
                    {
                        <td class="online-td">Online</td>
                    }
                    else
                    {
                        <td class="offline-td">Offline</td>
                    }

                    <td>
                        <a href="@($"machinedetail/{machine.MachineId}")" class="btn btn-outline-primary btn-sm mb-1">
                            Details
                        </a>

                    </td>
                </tr>
            }

        </tbody>
    </table>
}


